@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.sidebar{
  scrollbar-width: thin;
  scrollbar-color: #999999 transparent;
}

/* For Google Chrome and others */
.sidebar::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}